<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Whatever Launchpad</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/styles/home.css" />
        {{ template "global_head.html" }}
    </head>
    <body>
        <div class="top-right-icons">
            <a
                href="#attribution-modal"
                aria-label="Attribution Modal Toggle Icon Button"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="ionicon"
                    viewBox="0 0 512 512"
                >
                    <path
                        d="M248 64C146.39 64 64 146.39 64 248s82.39 184 184 184 184-82.39 184-184S349.61 64 248 64z"
                        fill="none"
                        stroke="currentColor"
                        stroke-miterlimit="10"
                        stroke-width="32"
                    />
                    <path
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="32"
                        d="M220 220h32v116"
                    />
                    <path
                        fill="none"
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-miterlimit="10"
                        stroke-width="32"
                        d="M208 340h88"
                    />
                    <path d="M248 130a26 26 0 1026 26 26 26 0 00-26-26z" />
                </svg>
            </a>
        </div>
        <section class="hero">
            <div class="container">
                <a href="https://whatever.social">
                    <div class="title">
                        <img
                            src="/static/assets/logo.png"
                            alt="Whatever Social Logo"
                        />
                        <h1>Launchpad</h1>
                    </div>
                </a>
                {{ if .Error }}
                <div class="error">
                    <p>{{ .Error }}</p>
                </div>
                {{ end }}
                <form action="/">
                    <div class="url-input">
                        <input
                            class="url-input-field"
                            type="url"
                            placeholder="Take me to Whatever..."
                            name="url"
                        />
                        <a href="#bar-info">
                            <div class="icon">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="ionicon"
                                    viewBox="0 0 512 512"
                                >
                                    <path
                                        d="M256 80a176 176 0 10176 176A176 176 0 00256 80z"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-miterlimit="10"
                                        stroke-width="32"
                                    />
                                    <path
                                        d="M200 202.29s.84-17.5 19.57-32.57C230.68 160.77 244 158.18 256 158c10.93-.14 20.69 1.67 26.53 4.45 10 4.76 29.47 16.38 29.47 41.09 0 26-17 37.81-36.37 50.8S251 281.43 251 296"
                                        fill="none"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-miterlimit="10"
                                        stroke-width="28"
                                    />
                                    <circle cx="250" cy="348" r="20" />
                                </svg>
                            </div>
                        </a>
                    </div>
                    <button>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="ionicon"
                            viewBox="0 0 512 512"
                        >
                            <path
                                d="M461.81 53.81a4.4 4.4 0 00-3.3-3.39c-54.38-13.3-180 34.09-248.13 102.17a294.9 294.9 0 00-33.09 39.08c-21-1.9-42-.3-59.88 7.5-50.49 22.2-65.18 80.18-69.28 105.07a9 9 0 009.8 10.4l81.07-8.9a180.29 180.29 0 001.1 18.3 18.15 18.15 0 005.3 11.09l31.39 31.39a18.15 18.15 0 0011.1 5.3 179.91 179.91 0 0018.19 1.1l-8.89 81a9 9 0 0010.39 9.79c24.9-4 83-18.69 105.07-69.17 7.8-17.9 9.4-38.79 7.6-59.69a293.91 293.91 0 0039.19-33.09c68.38-68 115.47-190.86 102.37-247.95zM298.66 213.67a42.7 42.7 0 1160.38 0 42.65 42.65 0 01-60.38 0z"
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="32"
                            />
                            <path
                                d="M109.64 352a45.06 45.06 0 00-26.35 12.84C65.67 382.52 64 448 64 448s65.52-1.67 83.15-19.31A44.73 44.73 0 00160 402.32"
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="32"
                            />
                        </svg>
                        Paste & Go
                    </button>
                </form>
            </div>
            <div class="floating-call">
                <p>Scroll Down For Instances</p>
            </div>
        </section>
        <section class="instances" id="instances">
            <div class="list">
                {{ range .Instances }}
                <a href="{{ .URL }}" target="_blank">
                    <div class="instance">
                        <img src="{{ .FaviconURL }}" alt="{{ .Name }} Logo" />
                        <div class="description">
                            <p>{{ .Name }} • {{ .Description }}</p>
                        </div>
                    </div>
                </a>
                {{ end }}
            </div>
        </section>

        <div id="bar-info">
            <div class="modal-content">
                <header class="modal-header">
                    <h2>Launch Bar?</h2>
                    <a href="#" aria-label="Close Modal"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="ionicon"
                            viewBox="0 0 512 512"
                        >
                            <path
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="32"
                                d="M368 368L144 144M368 144L144 368"
                            /></svg
                    ></a>
                </header>
                <p>
                    Whatever's Launch Bar allows quick and easy conversion of
                    non-privacy preserving URLs, such as Reddit, Twitter and
                    YouTube links, into proxied content URLs using our selection
                    of high-quality FOSS instances.
                </p>
                <p>
                    By switching URLs to our proxies, your IP address, browser
                    metadata or any other identifiable information will be
                    hidden from the source providers, allowing you to browse
                    content privately.
                </p>

                <p>
                    Launch Bar supports query parameters for redirection
                    automation. For example,
                </p>
                <code
                    >https://launch.whatever.social?url=https://reddit.com/u/httpjames</code
                >
                <p>
                    will automatically redirect you to our Libreddit instance.
                </p>

                <p>
                    As a result, you can also create a bookmarklet (a browser
                    bookmark with code) that will automate this process.
                </p>
                <code
                    >function launcher(){window.location.href =
                    `https://launch.whatever.social?url=${window.location.href}`};
                    launcher()</code
                >
            </div>
        </div>

        <div id="attribution-modal">
            <div class="modal-content">
                <header class="modal-header">
                    <h2>Attribution</h2>
                    <a href="#" aria-label="Close Modal"
                        ><svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="ionicon"
                            viewBox="0 0 512 512"
                        >
                            <path
                                fill="none"
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="32"
                                d="M368 368L144 144M368 144L144 368"
                            /></svg
                    ></a>
                </header>
                <ul>
                    <li>
                        Icons provided by
                        <a
                            href="https://ionic.io/ionicons/usage"
                            target="_blank"
                            rel="noopener noreferer"
                            >Ionic</a
                        >
                        under MIT License.
                    </li>
                </ul>

                <p>
                    Designed with
                    <a
                        href="https://penpot.app"
                        target="_blank"
                        rel="noopener noreferrer"
                        >Penpot</a
                    >.
                </p>

                <p>
                    Website made in collaboration with
                    <a href="https://httpjames.space" target="_blank"
                        >http.james</a
                    >.
                </p>
            </div>
        </div>
    </body>
</html>
