html,
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.hero {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 1)
        ),
        url("/static/assets/banner.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    box-sizing: border-box;
}

.hero .container {
    width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero .container .title {
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 3rem;
}

.hero .container .title img {
    height: 100%;
}

.hero .container form {
    display: contents;
}

.hero .container .url-input {
    margin-top: 2rem;
    background-color: white;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    width: 100%;

    font-size: 1.1rem;
}

.hero .container form button {
    background: rgba(74, 39, 218, 1);
    border-radius: 15px;
    padding: 0.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
    color: white;
    border: none;
    font-weight: bold;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.hero .container form button svg {
    height: 1rem;
    fill: white;
}
